:root {
    --font-color: white;
    --module-size: 1rem;
    --font-family:heveltica, arial, san-serif;
    --primary-color:tomato;
}
/*Configuração Padrão de Início*/
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
}
/*Chamamos o body para limitar o tamanho da altura da página*/

body{
    height: 100vh;
    width: 100vw;
}

/* INÍCIO DO CABEÇALHO */
/*Chamamos nosso Header para estilização*/

header {
    background-color: rgba(78, 135, 168);/*Cor de fundo*/
    padding: 10vh;/*Ajustamos o tamanho do preenchimento -- podemos usar 70px*/
}

/*Aqui é onde estão armazenadas nossas listas do Header */
.menu-header {
   display: flex;/*Usamos para jogar os itenns lado a lado*/
   justify-content: end;/*Aqui justificamos os itens desta lista para o fim do Header*/
   flex-wrap: wrap;/*Usado para informar que os itens podem quebrar em telas menores */
}
/*Chamamos nosso Header para estilização*/

.menu-header > li > a {/*Aqui sabemos dentro da nossa LI existe uma TAG de Link "a" */
    text-decoration: none; /*Desabilitando a decoração dos textos de link*/
    color:var(--font-color); /*Cor da letra*/
    font-size: 13px;/*Tamanho da letra*/
}

header nav ul {/*ul-Estilizando a lista não ordenada do header*/
   display: flex;/*Usamos para jogar os itens lado a lado*/
   justify-content: end;/*Aqui justificamos os 
   itens desta lista para o fim do header*/
}
/*Chamamos nossas Li diretamente para espaça-las*/
.menu-header > li {
    margin-left: 20px;/*Espaçamentos entre listas */
}

/*Efeito ao passar o cursor*/

.menu-header > li > a:hover {
    color: rgb(81, 81, 228);/*Habilitando uma cor ao passar o mouse*/
    transition: 0,8s;/*Adicioamos aqui uma transição*/
}
/* FIM DO CABEÇALHO */


/* PRIMEIRA SESSÃO */
#sessão {/*Aqui chamamos nosso primeiro ID para estilizzação */
    padding: 30vh;/*Atribuimos um tamanho de preechimento da sessão-- podemos usar 200px*/
    width: auto;
    background-color:linear-gradiente(180deg,#c0cdcf 8,8.33%, rgba(90, 168, 168)100%);/*Uma cor com Degradê*/
    flex-wrap: wrap;/*Usado para informar que os itens podem quebrar em telas meores */

}
/*Alterado nosso Títuulo*/
#sessão > h1 {/*Alterando nosso titúlo*/
 font-size: 3rem;/*Tamanho da letra*/
 color: rgb(0, 0, 0, 0.712);/*Cor da Letra*/
}

#sessão1 p {/*Alterado nosso Parágrafo dentro da nossa primeira ID para estilização*/
font-size: 40px; /*Tamanho da letra*/
}
/*Chhhamamos nosso Button que está dentro dessa primeira sessão*/
#sessão > button { 
padding: 20px;/*Tamanho do preennchimento intero do botão*/
border-radius: 50px;/*Borda arredondada do botão*/
width:20vw;/*TAmanho lateral do botão(larguar) ---podemos usar 300px */
border-radius: 50px;/*Borda arredondada do botão*/
margin: 30px;/*Margin em volta do botão*/
cursor: pointer;
border-color:rgb(19, 153, 108);/*Cor da borda*/ 
}

#sessão1 > a > button {
    padding: 1.5rem;
    border-radius: 50px;/*Arredondammento da borda do botão*/
    width: 20vw;
    cursor: pointer;
    margin-top: 10px;
    color: rgb(19, 153, 108);
    border-color: rgb(19, 153, 108);
}

#sessão > a  button:hover {
background-color: rgba(19, 153, 108);
color: white;
border-color: white;
transition: 0.8s;/*tempo de transição*/
}


/*Aqui chamamos nosso segundo ID da página */
#app{
    padding: 30vh;/*Atriuimos um tamanho para o preenchimeto -- podemos usar 170px */
    background-color: rgb(226, 233, 233);/*Cor de fundo*/
    display: flex;
    justify-content: space-around;
}

#app > div > p { /*Chamamos nosso Parágrafo para estilizzação*/
    font-size: 43px; /*Alterando o tamanho da letra*/

}

#app div a {
    text-decoration: none;
    color: rgb(19, 153, 108);/*Cor da letra*/
    font-size: 15px;/*Tamanho da letra dentro do button*/
}

#app div button a:hover{
    color: white;/*Cor da letra */
    transition: 0.8s;
}

#app > div img {/*Imagem da nossa segunda section*/
    width: 30vw;/*Largura da nossa img */
    height: 60vh;/*Altra da nossa img*/
    margin-left: 50px;/*Margen a Esquerda*/
    margin-top: -70;/*Margem a Direita*/
}

#container {/*Aqui chamamos nossa tereira section da página */
    padding: 30vh;/*Atribuimos um preenchimento*/
    background-color: rgb(226, 233, 233);/*Cor de fundo*/
    flex-wrap: wrap;/*Usado para innformar que os itens podem quebrar em telas menores */
}

#container h2 {/*Chamamos nosso H2 para estilização*/
    font-size: 40px;/*Tamanho da Letra */
    margin-top: -20rem;/*Margem superior*/
    color:rgb(34, 34, 74);/*Cor da letra*/
    text-align: center;/*Alinhamennto do texto ao centro*/

}

#container p {/*Chamamos nosso paragrafo para estilização*/
    font-size: 20px;/*Tamanho da letra */
    margin-top: 30px;/*Margen superior*/
    color:rgb(0, 0, 0.564);/*Cor da letra*/
    text-align: justify;/*Aqui justificamos o texto*/
}

#container .text1 {/*Aqui chamamos a class de um dos nossos P que terá configuração diferente */
    text-align: center;/*Alinhamento ao centro*/

}

#container button {/*Chamamos nosso button para alteração*/
    padding: 20px;/*Preenchimento do Botão */
    border-radius: 50px;/*arredondamento do botão*/
    width: 15vw;/*Largura do botão*/
    font-size: 15px;/*Tamanho da letra*/
    color: rgb(50, 50, 226);/*Cor da letra*/
    border-color:rgb(50, 50, 226);/*Cor da borda*/
    margin: 60px;/*Margen em torno no botão*/
    font-size: 15px;/*Tamanho da letra*/
}

#container button a {
    color: blue;
    text-decoration: none;
}

#container button:hover {/*Cor do botaõ ao passar o cursor */
    background-color: rgb(50, 50, 226);/*Cor de fundo*/
    color:white;/*Cor da letra*/
    transition: 0.7s;
    cursor: pointer;

}

.line {/*Class usada para nossa Tag HR*/
    margin: 0 auto;/*Margem zerada e automática*/
    width: 70%;/*Tamanho da linha*/

}

#container-cofre {/*Aqui começamos a estilizar nossa quarta section*/
    background: linear-gradient(180deg, #0c16a364 88.33%, rgba(5, 39, 101, 0.745) 100%),url(https://wwww.qsbank/wp-content/uploads/2022/02/texture4-1);
    /*Atribuimos antes da imagem uma cor para que fique sobreposta a imagem quue está ao lado*/
    background-position: center;/*Posicionamento da imagem*/
    background-attachment: fixed;/*osicionamento fixo da imagem */
    padding: 10%;/*Altura da section*/
    display: flex;/*Hailitando os itens lado a lado*/
    align-items: center;/*alinhando os itens ao entro*/
    justify-content: space-evenly;

}

#conntainer-cofre img {/*Chamamos nossa IMG para estilização*/
    width: 25vw;/*Chamamos nossa IMG para estilização*/
    margin-top: 10rem;/*Margem suerior*/
    height: auto;
    flex-wrap: wrap;/*Usado para informar que os itens podem quebrar em telas menores*/

}

#container-cofre h2{/*Chamamos nossa TAG H2 para estilização*/
    color: white;/*Cor da letra*/
    font-size: 30px;/*Tamanho da letra*/
    text-align: center;

}

#container-cofre p {/*Nossa Tag de parágrafos para estilização*/
    color: white;/*Cor da letra*/
    font-size: 17px;/*Tamanho da Letra*/
    text-align: center;
    margin-top: 2rem;/*margen superior*/

 }

#container-cofre div span {
    color: yellow;
}

 footer {/*Aqui começamos a estilização do Rodapé*/
    padding: 13vh;/*Preenchimento do Rodapé*/
    background-color: rgb(29, 28, 28);/*Cor de fundo*/
    text-align: center;/*Alinhamento ao centro*/
 }  

 footer img {/*Trabalhando nas IMG dentro do Foteer*/
    width: 13.5rem;/*Largura*/
    height: 4rem;
    margin-top: -5rem;/*Margem superior*/
    margin-bottom: 20px;

 }

 .fotter-div {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
 }

 .fotter-div a {
    text-decoration: none;
    color: white;
 }

 .footer-div p {
    color: rgb(233, 222, 222, 0,523);
 }

 .footer-div a:hover {
    color: crimson;
    transition: 0.5s;
 }

 @media screen and (max-width: 1366px) {



    #sessão a button {
        font-size: 0.7rem;
        width: 15rem;
        padding: 0.9rem;
    }
    
 }

#app > div > a button {
    font-size: 0.7rem;
    width: 15rem;
    padding: 0.9rem;
}

#container a button {
    font-size: 0.7rem;
    width: 15rem;
    padding: 0.9rem;
}

/*Arrumando as sessões individualmente*/
#sessão h1 {
    font-size: 3rem;
}

#sessão p {
    font-size: 2rem;
}

#app div p {
    font-size: 2rem;
    text-align: left;
}


#container h2 {
    margin-top: -12rem;
}

#Container-cofre div spam {
    color: yellow;
}

footer img {
    margin-top: -1px;
}



@media screen and (max-width: 991px) {
    #app div img {
        width: 18rem;
        height: auto;
        margin-right: 20px;

    }

}
    #app div {
        margin-left: -3rem;
    }
    
    #container img {
        margin-left: -0.1rem;
    }


#container-cofre div span {
    color: yellow;
}

footer p {
    font-size: 0.6rem;

}

footer a {
    font-size: 0.6rem;
}

